{
  "timeout": 15,
  "source": {
    "directories": [
      "./src"
    ]
  },
  "logs": {
    "text": ".\/storage\/logs\/infection-log.txt",
    "summary": ".\/storage\/logs\/infection-summary.log",
    "perMutator": ".\/storage\/logs\/infection-per-mutator.md"
  },
  "testFramework": "phpunit",
  "bootstrap": "./vendor/autoload.php"
}
